html {
  background-color: #222;
  color: #e2e2e2;
  font: 16px "DejaVu Sans", sans-serif;
  text-align: justify;
  line-height: 22px;
}

h1 { margin: .8em 0; text-align: center; }
h1 { margin: .6em 0; }
h2 { margin: 2em 0 .6em 0; }
h3 { margin: 1.2em 0 .4em 0; }
h4, h5, h6 { margin: .4em 0; }
h2, h3, h4, h5, h6 { text-decoration: underline; }

body {
  max-width: 1024px;
  margin: auto;
}

nav { position: fixed; width: 172px; }
nav h1 { font-size: 120%; }
nav a { text-decoration: none; }

main {
  margin-left: 180px;
  padding-bottom: 20%;
}

section { margin: 1em .5em; }
div, ul { margin: .8em 0; padding: 0; }

li { margin-left: 1.2em; }
ul ul { margin: 0; }
ul ul li { margin-left: .8em; }

footer {
  margin: 1em .4em;
  font-size: 90%;
  line-height: 20px;
}
footer > div {
  position: relative;
  margin: 0;
  padding-left: 1.2em;
}

a, a:active, a:link, a:visited {
  color: lightskyblue;
  text-decoration-color: rgba(135, 206, 250, 0.5);
}
a.missing {
  color: lightpink;
  text-decoration-color: rgba(255, 182, 193, 0.5);
}
a[href*="http://"], a[href*="https://"] {
  color: dodgerblue;
  text-decoration-color: currentColor;
}
a[href*="http://"]:after, a[href*="https://"]:after {
  content: "🔗";
  display: inline-block;
  margin-left: .2em;
  vertical-align: middle;
  font-size: 70%;
}

img.float-left, img.float-right, .shadow {
  border: 1px solid #666;
  box-shadow: 4px 4px 2px #333;
}
.float-left { float: left; margin: 0 .6em 0 0; }
.float-right { float: right; margin: 0 0 0 .6em; }


table {
  margin: .5em 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td { padding: 2px 4px; }
table img { vertical-align: middle; }
table td > div:first-child { margin-top: 0; }
table td > div:last-child { margin-bottom: 0; }

table.bordered { text-align: center; }
table.bordered thead { font-size: 80%; }
table.bordered tbody { border: 1px solid gray; }
table.bordered thead td { padding: 0 6px; }
table.bordered tbody td { padding: 2px 6px; }

table.bordered.float-right + table.bordered.float-right { margin-top: 4px; clear: right; }


.dotted { text-decoration: underline dotted; }
.nowrap { white-space: nowrap; }

.code {
  margin: -1px 1px;
  padding: 1px 3px;
  border: 1px solid #444;
  box-shadow: 0 0 3px #444;
  background-color: #222;
  font-family: 'Courier New', Courier, monospace;
}

.icon {
  height: 1.1em;
  margin: -.2em .3em -.2em .2em;
  vertical-align: middle;
  filter: drop-shadow(-1px 0 0 rgba(255, 255, 255, 0.5))
          drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.5))
          drop-shadow(1px 0 0 rgba(255, 255, 255, 0.5))
          drop-shadow(0 1px 0 rgba(255, 255, 255, 0.5));
}

.more {
  vertical-align: top;
  line-height: 1.2em;
  font-size: 60%;
  font-weight: bold;
  font-style: normal !important;
}
footer .more {
  position: absolute;
  left: 0;
  line-height: 20px;
  font-size: 75%;
}


/* DETAILS */

details {
  margin: .2em;
  border: 1px solid gray;
  border-radius: 8px;
  line-height: 20px;
}
details summary {
  margin: -1px;
  padding: .4em;
  border: 1px solid gray;
  border-radius: 8px;
  font-weight: bold;
  user-select: none;
}
details summary::before { font-weight: normal; }
details > div { padding: 0 1em; font-size: 90%; }

details.warn { border-color: #864; background-color: #221A11; }
details.warn summary { border-color: #864; background-color: #321; }
details.warn summary::before { content: "Caution: "; }

details.info { border-color: #468; background-color: #111A22; }
details.info summary { border-color: #468; background-color: #123; }
details.info summary::before { content: "Information: "; }

details.suggest { border-color: #484; background-color: #121; }
details.suggest summary { border-color: #484; background-color: #131; }
details.suggest summary::before { content: "Suggestion: "; }


/* CRAFTING */

a.show-on-active {
  position: relative;
  color: yellowgreen;
  text-decoration: underline rgba(153, 205, 50, 0.5);
  cursor: pointer;
}

.show-on-active .crafting {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50%; top: 100%;
}
.show-on-active:hover .crafting,
.show-on-active:active .crafting,
.show-on-active:focus .crafting { display: block; }
.show-on-active:active .crafting,
.show-on-active:focus .crafting { z-index: 3; }

.crafting {
  position: relative;
  margin: 0; padding: 4px;
  border: 5px solid #2d2321;
  border-image: url(images/border.png) 5 repeat;
  outline: 2px solid gray;
  background: #403529;
  box-shadow: inset 0 0 16px #543, 0 0 4px 2px #222;
  color: #e2e2e2;
}
.crafting header {
  margin: -3px 0 2px 0;
  color: #e0cfbb;
  text-align: center;
  text-decoration: underline solid 1px #e0cfbb80;
  font-weight: bold;
  font-size: 90%;
}
.crafting img {
  display: block;
  height: 36px;
  margin: 2px auto;
}
.crafting .amount {
  position: absolute;
  right: -2px; bottom: -1px;
  font-weight: bold;
  font-size: 120%;
  line-height: 1em;
  text-shadow: -1px 0 0 black,
               0 -1px 0 black,
               1px 0 0 black,
               0 1px 0 black;
}


.crafting.grid {
  width: 148px; height: 212px;
  background: no-repeat 4px url(images/crafting_grid.png), #403529;
}
.show-on-active .crafting.grid {
  margin-left: -83px;
  outline-color: rgba(153, 205, 50, 0.75);
}
.crafting.grid > * {
  position: absolute;
  width: 40px; height: 40px;
  margin: 0;
}
.crafting.grid .input-1-1 { left:   8px; top:   8px; }
.crafting.grid .input-2-1 { left:  58px; top:   8px; }
.crafting.grid .input-3-1 { left: 108px; top:   8px; }
.crafting.grid .input-1-2 { left:   8px; top:  58px; }
.crafting.grid .input-2-2 { left:  58px; top:  58px; }
.crafting.grid .input-3-2 { left: 108px; top:  58px; }
.crafting.grid .input-1-3 { left:   8px; top: 108px; }
.crafting.grid .input-2-3 { left:  58px; top: 108px; }
.crafting.grid .input-3-3 { left: 108px; top: 108px; }
.crafting.grid .output    { left:  58px; top: 172px; }


.crafting.clay { width: 148px; }
.show-on-active .crafting.clay {
  margin-left: -83px;
  outline-color: rgba(153, 205, 50, 0.75);
}
.crafting.clay > div {
  position: relative;
  height: 48px;
  margin: 0; padding: 0;
  background: no-repeat url(images/crafting_transform.png);
}
.crafting.clay > div + div { margin-top: 2px; }
.crafting.clay > div > * {
  position: absolute;
  width: 40px; height: 40px;
  margin: 0; padding: 0;
}
.crafting.clay .input  { left:   4px; top: 4px; }
.crafting.clay .output { left: 104px; top: 4px; }


/* CONTROLS */

table.controls tr td:first-child {
  text-align: center;
}

.key {
  display: inline-block;
  margin: -2px 1px;
  padding: 2px 5px;
  vertical-align: middle;
  line-height: 1.2em;
  
  border: 1px solid darkgray;
  border-radius: 4px;
  background-image: linear-gradient(#777, black);
  box-shadow: inset 0 -1px 2px black;
  
  font-size: 85%;
  font-family: 'Courier New', Courier, monospace;
}

.mouse {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: -1px 1px;
  width: 1em; height: 1.3em;
  vertical-align: middle;
  
  border: 1px solid darkgray;
  border-radius: .6em .6em 3px 3px;
  background-image: linear-gradient(#666, black);
  box-shadow: inset 0 -1px 2px black;
  
  font-size: 90%;
  font-family: 'Courier New', Courier, monospace;
}
.mouse * {
  display: block;
  position: absolute;
  top: 0;
  width: calc(50% - 1px); height: 45%;
  
  border: 0px solid darkgray;
  background: gray;
}
.mouse.left * { left: 0; border-width: 0 1px 1px 0; }
.mouse.right * { right: 0; border-width: 0 0 1px 1px; }
.mouse.middle * { left: 30%; right: 30%; width: unset; border-width: 0 1px 1px 1px; }


/* RESOURCES */

table.resources td:first-child {
  text-align: center;
  font-weight: bold;
}
table.resources td:nth-child(3) {
  font-size: 90%;
  line-height: 19px;
}


/* CLAY FORMING */

table.clay-forming-cost tbody td { text-align: right; }
table.clay-forming-cost tbody td:first-child { padding-right: 0; text-align: center; }
table.clay-forming-cost tbody td:nth-child(2) { padding-left: 2px; text-align: left; font-style: italic; }
table.clay-forming-cost tbody td:nth-child(4) { font-size: 90%; }

table.clay-forming-cost tbody td:nth-child(2),
table.clay-forming-cost tbody td:nth-child(3) { border-right: 1px solid gray; }

table.clay-forming-cost tbody td:not(:first-child) .icon { height: 0.7em; margin: 0; vertical-align: 0; }


/* FARMING */

table.soil-types tbody td:first-child { padding-right: 0; }
table.soil-types tbody td:nth-child(2) { padding-left: 2px; text-align: left; font-style: italic; }


table.growth-speed thead td:first-child { padding: 0 2px; }
table.growth-speed tbody td { font-size: 90%; padding: 0 6px; }
table.growth-speed tbody td:nth-child(2) { text-align: right; }


table.fertilizers tbody td:first-child { padding-right: 0; }
table.fertilizers tbody td:nth-child(2) { padding-left: 2px; text-align: left; font-style: italic; }

table.fertilizers tbody td:nth-child(3),
table.fertilizers tbody td:nth-child(4),
table.fertilizers tbody td:nth-child(5) { text-align: right; }


table.crop-types tbody td:nth-child(3),
table.crop-types tbody td:nth-child(5) { border-left: 1px solid gray; }

table.crop-types tbody td:first-child { padding-right: 0; }
table.crop-types tbody td:nth-child(2) { padding-left: 2px; text-align: left; font-style: italic; }
table.crop-types tbody td:nth-child(3) { text-align: right; }
table.crop-types tbody td:nth-child(6) { font-weight: bold; }

table.crop-types .nutrient-n td:nth-child(5),
table.crop-types .nutrient-n td:nth-child(6) { background-color: #FF000018; }
table.crop-types .nutrient-p td:nth-child(5),
table.crop-types .nutrient-p td:nth-child(6) { background-color: #00FF0018; }
table.crop-types .nutrient-k td:nth-child(5),
table.crop-types .nutrient-k td:nth-child(6) { background-color: #2020FF30; }

/*
GRAIN   background-color: #FFE02020;
VEGGIE  background-color: #40FF4020;
PROTEIN background-color: #FF80C020;
*/
